body {
    background-color: #cccccc;
    font-family: arial,helvetica,sans-serif;
    margin:  0  0;
    text-align: center;
}
.bookHeadline {
    font-size: 12pt;
    font-weight: bold;
    color: rebeccapurple;
}

.bookDescription {
    font-size: 10pt;
}
label {
    font-weight: bold;
}

.errorPage{
    margin: 0 auto;
    padding-top: 10em;
    font-family: 'Arvo', serif;
    font-size: 20px;
    color: chocolate;

}

